.barchart {
  width: 100%;
  height: 300px;
  background: #FBFBFB;
}

.barchart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.barchart__title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.barchart__legend {
  display: flex;
  gap: 16px;
  align-items: center;
}

.barchart__legend-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.barchart__legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.barchart__legend-text {
  font-size: 12px;
}
