.linechart {
  width: 100%;
  height: 260px;
  min-height: 260px;
  background: #ff0101;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.linechart__title {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}


.linechart__tooltip {
  background: #ffffff;
  padding: 2px 6px;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.08);
  font-size: 13px;
}

