.settings{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  padding:32px;
}
.settings__card{
  background:#282d30;
  color:#fff;
  padding:24px;
  border-radius:8px;
  max-width:760px;
}
